# Quarto internal working directory
*/.quarto/

# Default rendered output directories (uncomment if you want to exclude them)
*/_site/

# Computational caches and temporary freezing mechanisms
*/_freeze/

*/node_modules

#Ignore pg-data
pg-data

#The env file...
*.env